.espacioLibre {
  margin: 25px;
  width: 50px;
  text-align: center;
  border-bottom: 3px solid white;
}

.letraOculta{
    font-size: 25px;
    color: #0d6efd;
}
.letraVisible{
    font-size: 25px;
    color: white;
}
