.footer {
    background-color: #eee;
    position: sticky;
    height: 62px;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }