<div class="row justify-content-center mt-5">
  <div class="contenedorImgPreguntados col-1">
    <img
      src="{{ preguntaEnJuego?.urlImg }}"
      alt="Imagen de la pregunta"
      class="img-fluid"
    />
  </div>
  <div class="col-8">
    <div class="row justify-content-center">
      <div class="col-6"><h3 class="text-light">¿Cuál es el nombre del actor/actriz?</h3></div>
    </div>
    <div class="row justify-content-center mb-2 mt-5">
      <div class="col-6" *ngFor="let opcion of opciones; let i = index">
        <button
          class="btn btn-lg btn-light mb-3"
          id="opcion{{ i }}"
          (click)="onJugadorEleccion($event)"
        >
          {{ opcion }}
        </button>
      </div>
    </div>
  </div>
</div>
