.container{
    padding:5%;
}
.container .details{
    border-left:3px solid #2323ce;
}
.container .details p{
    margin-left: 25px;
    font-size:15px;
    font-weight:bold;
}
li{
    list-style: none;
}