<section id="about">
  <div class="contenedorAbout">
    <h2 class="tituloSeccion text-center m-5">Sobre mí</h2>
    <div class="row justify-content-around">
      <div class="contenedorTargeta shadow p-3 mb-5 rounded">
        <img src="./assets/images/icono1.svg" alt="imagen mia" />
        <h3 class="tituloApartado text-center">Quién soy</h3>
        <p>
          Un poco darme a conocer.
        </p>
      </div>
      <div class="contenedorTargeta shadow p-3 mb-5 rounded">
        <img src="./assets/images/icono2.svg" alt="imagen relacionada a juegos" />
        <h3 class="tituloApartado text-center">Mi juego</h3>
        <p>
          Una descripcion del juego que desarrollé
        </p>
      </div>
      <div class="contenedorTargeta shadow p-3 mb-5 rounded">
        <img src="./assets/images/icono3.svg" alt="imagen de contacto/github" />
        <h3 class="tituloApartado text-center">Donde encontrarme</h3>
        <p>
          Medios de contacto, email, github, etc
        </p>
      </div>
    </div>
  </div>
</section>
