<section id="about">
  <div class="contenedorAbout">
    <h2 class="tituloSeccion text-center m-5">Quién soy</h2>
    <div class="row justify-content-around">
      <div class="contenedorTargeta shadow p-3 mb-5 rounded">
        <img src="./assets/images/icono1.svg" alt="imagen de estudiante" />
        <h3 class="tituloApartado text-center">Estudiante</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum minima
          fuga tenetur, incidunt incidunt assassumenda nam aspernatur.
        </p>
      </div>
      <div class="contenedorTargeta shadow p-3 mb-5 rounded">
        <img src="./assets/images/icono2.svg" alt="imagen de juegos" />
        <h3 class="tituloApartado text-center">Gamer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum minima
          fuga tenetur, incidunt incidunt ass assumenda nam aspernatur.
        </p>
      </div>
      <div class="contenedorTargeta shadow p-3 mb-5 rounded">
        <img src="./assets/images/icono3.svg" alt="imagen de dev" />
        <h3 class="tituloApartado text-center">Developer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum minima
          fuga tenetur, incidunt incidunt assassumenda nam aspernatur.
        </p>
      </div>
    </div>
  </div>
</section>
