<div class="container" *ngIf="!mostrandoPuntajes">
  <h2 class="text-center text-light">Puntuaciones</h2>
  <div class="row">
    <div class="col-12 mb-3 mt-3 mt-lg-5 mb-lg-5">
      <div class="row justify-content-center">
        <h4 class="col-12 col-md-8 text-white text-center">Ahorcado</h4>
        <button
          class="btn btn-success col-12 col-md-3"
          (click)="mostrarResultados('ahorcado')"
        >
          Ver Puntuaciones
        </button>
      </div>
    </div>
    <div class="col-12 mb-3 mb-lg-5">
      <div class="row justify-content-center">
        <h4 class="col-12 col-md-8 text-white text-center">Mayor o Menor</h4>
        <button
          class="btn btn-success col-12 col-md-3"
          (click)="mostrarResultados('MayorMenor')"
        >
          Ver Puntuaciones
        </button>
      </div>
    </div>
    <div class="col-12 mb-3 mb-lg-5">
      <div class="row justify-content-center">
        <h4 class="col-12 col-md-8 text-white text-center">
          Preguntados (Próximamente!)
        </h4>
        <button
          class="btn btn-success col-12 col-md-3"
          (click)="mostrarResultados('Preguntados')"
        >
          Ver Puntuaciones
        </button>
      </div>
    </div>
    <div class="col-12">
      <div class="row justify-content-center">
        <h4 class="col-12 col-md-8 text-white text-center">
          Adivina el color (Próximamente!)
        </h4>
        <button
          class="btn btn-success col-12 col-md-3"
          (click)="mostrarResultados('AdivinaColor')"
        >
          Ver Puntuaciones
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="mostrandoPuntajes">
  <h2 class="text-center text-light">Top 5</h2>
  <div class="row justify-content-end">
    <button class="btn btn-warning col-3 col-md-1" (click)="volverAlListado()">
      Volver
    </button>
  </div>
  <app-resultado-detalle
    [resultadoDetalle]="listadoDePuntajes"
  ></app-resultado-detalle>
</div>
