<div class="row">
  <div class="col-xl-12 col-lg-8 col-md-8 col-sm-9 col-12">
    <div class="selected-user text-center">
      <span class="name">Sala de Chat</span>
    </div>
    <!-- start area chat box container-->
    <div class="chat-container">
      <!-- start area list of message -->
      <div #messageContentRef id="messages-container">
        <app-chat-list-message
          [listOfMessage]="listOfMessage"
        ></app-chat-list-message>
      </div>
      <!-- end area list of message -->
      <!-- start area input message -->
      <div class="row justify-content-center box-input-mentaje">
        <div class="form-group mb-0 col-9">
          <textarea
            class="form-control col-8"
            rows="2"
            placeholder="Escriba su mensaje aquí..."
            [(ngModel)]="newMessage"
          ></textarea>
        </div>
        <div class="col-1 ">
          <button (click)="enviarMensaje()">
            <i class="bi bi-caret-right-fill"></i>
          </button>
        </div>
      </div>
      <!-- end area input message -->
    </div>
  </div>
</div>
