<section id="about">
  <div class="contenedorAbout">
    <div class="row justify-content-center">
      <img class="img-fluid rounded-circle w-25" src="../../../assets/lucasss.jpg" />
      <h2 class="tituloSeccion text-center m-5">Sobre mí</h2>
    </div>
    <div class="row justify-content-around">
      <div class="contenedorTargeta shadow p-3 mb-5 rounded">
        <div class="text-center">
          <i class="bi bi-person-bounding-box icon-about"></i>
        </div>
        <h3 class="text-center">Quién soy</h3>
        <p class="fs-5 text-center mt-3">
          Me llamo Lucas Barbosa, tengo 27 años y vivo en argentina. Me encanta
          programar, cocinar y jugar videojuegos
        </p>
      </div>
      <div class="contenedorTargeta shadow p-3 mb-5 rounded">
        <div class="text-center">
          <i class="bi bi-dice-4 icon-about"></i>
        </div>
        <h3 class="text-center">Comparación de colores</h3>
        <p class="text-center">
          Es un juego donde tenes 2 imagenes donde en una dice el nombre de un
          color y en la otra una imagen con el nombre de un color aleatorio de
          un color determinado, si este color coincide con la primera imagen
          ganas un punto, si no perdes un punto.
        </p>
      </div>
      <div class="contenedorTargeta shadow p-3 mb-5 rounded">
        <div class="text-center">
          <i class="bi bi-github icon-about"></i>
        </div>
        <h3 class="text-center">Donde encontrarme</h3>
        <p class="fs-5 text-center mt-3">github.com/barbosalucas278</p>
      </div>
    </div>
  </div>
</section>
