<div class="row align-items-center">
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <h4>Cantidad de aciertos:</h4>
          <h3>
            {{ userResultado!.cantidadDeAciertos! }}
          </h3>
        </div>
        <div class="col-4">
          <p>Te has quedado sin vidas!</p>
          <p>Puntos: {{ cantidadDePuntos }} </p>
        </div>
      </div>
      <div class="row justify-content-center mb-3">
        <div class="col-3">
          <button class="btn btn-success" (click)="onPlayAgain()">
            Volver a Jugar
          </button>
        </div>
        <div class="col-3">
          <button class="btn btn-warning" (click)="onBackToMenu()">
            Volver al menu
          </button>
        </div>
      </div>
    </div>
  </div>
  