<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <h1 class="h3 mb-3 fw-normal text-center">Iniciar Sesión</h1>
      <div class="form-floating mb-3 input-group-sm">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="nombreUsuarioInput"
        />
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          [(ngModel)]="passwordInput"
        />
        <label for="floatingPassword">Contraseña</label>
      </div>

      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        routerLink="/home"
        (click)="iniciarSesion()"
      >
        Iniciar Sesión
      </button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017–2021</p>
    </div>
  </div>
</div>
