.card-palabra {
  background-color: white;
  height: 100px;
  p {
    padding-top: 8px;
    font-size: 50px;
    text-align: center;
  }
}
.Verde {
  color: green;
}
.Negro {
  color: black;
}
.Azul {
  color: blue;
}
.Rojo {
  color: red;
}
/*Barra de tiempo*/
.contador{    
    color: white;
    font-size: 25px;
}
