<section class="row">
    <div class="col-12 col-lg-8">
      <div class="row justify-content-center justify-content-sm-end">
        <div class="encabezadoHome">
          <h2 class="text-center mt-4">
            Bienvenidxs a la sala de juegos
          </h2>
          <p class="text-center mt-1 mt-sm-4">
            En esta página encontraras una variedad inmensa de juegos
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="d-flex justify-content-center mt-4">
        <img
          class="img-fluid"
          id="imagenHome"
          src="../../../assets/maquina-de-arcade.svg"
          alt="Imagen de una maquina de arcade"
        />
      </div>
    </div>
  </section>
  