<div class="container">
  <div class="row mt-5">
    <div class="col-8 mt-5">
      <app-ahorcado-palabra-en-juego
        [letraSeleccionada]="letraSeleccionada"
        [palabraEnJuego]="palabraEnJuego"
        (letraCorrectaEvent)="actualizarDisplayLetras($event)"
      ></app-ahorcado-palabra-en-juego>
    </div>
    <div class="col-4">
      <app-ahorcado-vidas
        [vidas]="vidasRestantes"
        (compVidasReady)="compVidasIsReady($event)"
      ></app-ahorcado-vidas>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 mt-5">
      <app-ahorcado-letras-restantes
        [letraActualizada]="letraSeleccionada"
        (letraSeleccionadaEvent)="actualizarLetraSeleccionada($event)"
      ></app-ahorcado-letras-restantes>
    </div>
  </div>
</div>
