.espacioLibre {
    margin: 5px;
    width: 20px;
    text-align: center;
    border-bottom: 3px solid white;
  }
  
  .letraOculta{
      font-size: 25px;
      color: #0d6efd;
  }
  .letraVisible{
      font-size: 25px;
      color: white;
  }

  